.grid-container {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 0.2fr 2.4fr 0.4fr;
  grid-template-rows: 8vh 2.5fr 6vh;
  grid-template-areas: "header header login" "nav article article" "footer footer footer";
  
}

.header {
  top: 0;
  grid-area: header; 
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login { 
  top: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  color: white;
  grid-area: login; 
}

.content { 
  height: 86vh;
  grid-area: article; 
}

.nav { 
  height: 86vh;
  height: 100%;
  grid-area: nav; 
  background-color: #818da7;
  color: white;
}

.footer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  height: 6vh;
  width: 100%;
  background-color: #656d7e;
  bottom: 0;
  grid-area: footer; 
}